[submodule "assets"]
	path = assets
	url = https://github.com/ezh0v/socks5-assets.git
[submodule "examples/socks5-proxy"]
	path = examples/socks5-server
	url = https://github.com/ezh0v/socks5-server.git
